<!DOCTYPE html>
<html style="border:0; font-family:inherit; font-size:100%; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline" valign="baseline">
<head>
    <style>:focus {outline:0}
    blockquote:before {content:""}
    blockquote:after {content:""}
    q:before {content:""}
    q:after {content:""}
    a:visited {color:#7b90b5;text-decoration:none}
    a:active {color:#7b90b5;text-decoration:none}
    a:hover {color:#7b90b5;text-decoration:underline}
    ul.works li img:hover {border:1px solid #1b4491;cursor:pointer}
    table td:hover {background-color:#f2f2f2}
    input:focus {background-color:#ddd;border-top:1px solid #c8c8c8;border-left:1px solid #c8c8c8;border-right:1px solid #dadada;border-bottom:1px solid #f2f2f2}
    textarea:focus {background-color:#ddd;border-top:1px solid #c8c8c8;border-left:1px solid #c8c8c8;border-right:1px solid #dadada;border-bottom:1px solid #f2f2f2}
    .submit-button:hover {background:transparent url(../images/submit.jpg) no-repeat 0 -33px;outline:0;border:none}</style>




    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Resume</title>

    <!--[if IE 7]>
    <link href="css/ie7.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!--[if IE 6]>
    <link href="css/ie6.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="js/jquery.tipsy.js"></script>
    <script type="text/javascript" src="js/cufon.yui.js"></script>
    <script type="text/javascript" src="js/scrollTo.js"></script>
    <script type="text/javascript" src="js/myriad.js"></script>
    <script type="text/javascript" src="js/jquery.colorbox.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
    <script type="text/javascript">
        Cufon.replace('h1,h2');
    </script>

</head>
<body style='border:0; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:13px; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; line-height:17px; background-color:#e1e0db; background-image:url(../images/bg.jpg); background-repeat:repeat; color:#000' valign="baseline" bgcolor="#e1e0db">
<!-- Begin Wrapper -->
<div id="wrapper" style="border:0; font-family:inherit; font-size:100%; font-style:inherit; font-weight:inherit; margin:0 auto; outline:0; padding:0; vertical-align:baseline; margin-bottom:100px; margin-top:60px; width:969px" valign="baseline" width="969">
    <div class="wrapper-top" style="border:0; font-family:inherit; font-size:100%; font-style:inherit; font-weight:inherit; margin:0 auto; outline:0; padding:0; vertical-align:baseline; background-image:url(../images/btop.jpg); background-repeat:no-repeat; height:19px; width:969px" valign="baseline" height="19" width="969"></div>
    <div class="wrapper-mid" style="border:0; font-family:inherit; font-size:100%; font-style:inherit; font-weight:inherit; margin:0 auto; outline:0; padding:0; vertical-align:baseline; background-image:url(../images/bmid.jpg); background-repeat:repeat-y; padding-bottom:40px; width:969px" valign="baseline" width="969">
        <!-- Begin Paper -->
        <div id="paper" style="border:0; font-family:inherit; font-size:100%; font-style:inherit; font-weight:inherit; margin:0 auto; outline:0; padding:0; vertical-align:baseline; width:828px" valign="baseline" width="828">
            <div class="paper-top" style="border:0; font-family:inherit; font-size:100%; font-style:inherit; font-weight:inherit; margin:0 auto; outline:0; padding:0; vertical-align:baseline; background-image:url(../images/ptop.jpg); background-repeat:no-repeat; height:126px; width:828px" valign="baseline" height="126" width="828"></div>
            <div id="paper-mid" style="border:0; font-family:inherit; font-size:100%; font-style:inherit; font-weight:inherit; margin:0 auto; outline:0; padding:0; vertical-align:baseline; background-image:url(../images/pmid.jpg); background-repeat:repeat-y; display:block; overflow:hidden; padding-bottom:75px; padding-top:7px; width:828px" valign="baseline" width="828">
                <div class="entry" style="border:0; font-family:inherit; font-size:100%; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; clear:both; display:block; margin-left:4px; padding-top:55px; width:720px" valign="baseline" width="720">
                    <!-- Begin Image -->
                    <!-- End Image -->
                    <!-- Begin Personal Information -->
                    <div class="self" style="border:0; font-family:inherit; font-size:100%; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; float:left; margin-bottom:15px; margin-left:38px; padding-top:11px; width:250px" valign="baseline" width="250">
                        <h1 class="name" style="border:0; font-family:inherit; font-size:42px; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; clear:both; color:#1b4491; margin-bottom:3px; width:250px" valign="baseline" width="250">{{fullName}} <br>
                            <ul style="border:0; font-family:inherit; font-size:100%; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; padding-top:10px" valign="baseline">
                                <li class="mail" style="border:0; font-family:inherit; font-size:100%; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; background-position:0 0.1em; background-repeat:no-repeat; display:block; height:25px; margin-top:-2px; padding-left:26px; background-image:url(../images/icn-mail.gif)" valign="baseline" height="25">{{email}}</li>
                            </ul>
                            <div>
                                <h1></h1>
                            </div>
                            <ul style="border:0; font-family:inherit; font-size:100%; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; padding-top:10px" valign="baseline">
                                <li class="tel" style="border:0; font-family:inherit; font-size:100%; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; background-position:0 0.1em; background-repeat:no-repeat; display:block; height:25px; margin-top:-2px; padding-left:26px; background-image:url(../images/icn-tel.gif)" valign="baseline" height="25">{{phoneNumber}}</li>
                            </ul>
                        </h1>
                    </div>
                    <!-- End Personal Information -->
                    <!-- Begin Social -->

                    <!-- End Social -->
                </div>

                <div class="entry" style="border:0; font-family:inherit; font-size:100%; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; clear:both; display:block; margin-left:4px; padding-top:55px; width:720px" valign="baseline" width="720">
                    <h2 style="border:0; font-family:inherit; font-size:22px; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; clear:both; color:#1b4491; float:left; height:23px; margin-bottom:-12px; text-align:right; width:180px" valign="baseline" height="23" align="right" width="180">PROFILE</h2>
                    <div class="content" style="border:0; font-family:inherit; font-size:100%; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; clear:both; display:block; overflow:hidden; padding-top:32px" valign="baseline">
                        <p style="border:0; font-family:inherit; font-size:100%; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; float:right; margin-left:40px; width:500px" valign="baseline" width="500">{{personalProfile}}</p>
                    </div>

                </div>
                <!-- Begin 1st Row -->
                <!-- End 1st Row -->
                <!-- Begin 2nd Row -->
                <div class="entry" style="border:0; font-family:inherit; font-size:100%; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; clear:both; display:block; margin-left:4px; padding-top:55px; width:720px" valign="baseline" width="720">
                    <h2 style="border:0; font-family:inherit; font-size:22px; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; clear:both; color:#1b4491; float:left; height:23px; margin-bottom:-12px; text-align:right; width:180px" valign="baseline" height="23" align="right" width="180">EDUCATION</h2>
                    <div class="content" style="border:0; font-family:inherit; font-size:100%; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; clear:both; display:block; overflow:hidden; padding-top:32px" valign="baseline">
                        <h3 style="border:0; font-family:inherit; font-size:13px; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; clear:both; color:#7b90b5; float:left; text-align:right; width:180px" valign="baseline" align="right" width="180">{{educationStartDate1}} - {{educationEndDate1}}</h3>
                        <p style="border:0; font-family:inherit; font-size:100%; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; float:right; margin-left:40px; width:500px" valign="baseline" width="500">{{schoolName1}}<br>
                            <em style='border:0; font-family:Georgia, "Times New Roman", serif; font-size:12px; font-style:italic; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; color:#777; display:block; padding-top:3px' valign="baseline">{{educationLevel1}}</em></p>
                    </div>

                </div>
                <!-- End 2nd Row -->
                <!-- Begin 3rd Row -->
                <div class="entry" style="border:0; font-family:inherit; font-size:100%; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; clear:both; display:block; margin-left:4px; padding-top:55px; width:720px" valign="baseline" width="720">
                    <h2 style="border:0; font-family:inherit; font-size:22px; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; clear:both; color:#1b4491; float:left; height:23px; margin-bottom:-12px; text-align:right; width:180px" valign="baseline" height="23" align="right" width="180">EXPERIENCE</h2>
                    <div class="content" style="border:0; font-family:inherit; font-size:100%; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; clear:both; display:block; overflow:hidden; padding-top:32px" valign="baseline">
                        <h3 style="border:0; font-family:inherit; font-size:13px; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; clear:both; color:#7b90b5; float:left; text-align:right; width:180px" valign="baseline" align="right" width="180">{{startDate1}} - {{endDate1}}</h3>
                        <p style="border:0; font-family:inherit; font-size:100%; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; float:right; margin-left:40px; width:500px" valign="baseline" width="500">{{companyName1}}<br>
                            <em style='border:0; font-family:Georgia, "Times New Roman", serif; font-size:12px; font-style:italic; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; color:#777; display:block; padding-top:3px' valign="baseline">{{jobPosition1}}</em></p>
                        <ul class="info" style="border:0; font-family:inherit; font-size:100%; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; float:right; list-style-type:none; margin-left:40px; width:500px" valign="baseline" width="500">
                            <li style="border:0; font-family:inherit; font-size:100%; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; background-image:url(../images/bullet.gif); background-position:0 0.5em; background-repeat:no-repeat; display:block; float:left; margin-top:12px; padding-left:10px; width:500px" valign="baseline" width="500">{{description1}}</li>
                        </ul>
                    </div>
                    <div class="content" style="border:0; font-family:inherit; font-size:100%; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; clear:both; display:block; overflow:hidden; padding-top:32px" valign="baseline">
                        <h3 style="border:0; font-family:inherit; font-size:13px; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; clear:both; color:#7b90b5; float:left; text-align:right; width:180px" valign="baseline" align="right" width="180">{{startDate2}} - {{endDate2}}</h3>
                        <p style="border:0; font-family:inherit; font-size:100%; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; float:right; margin-left:40px; width:500px" valign="baseline" width="500">{{companyName2}}<br>
                            <em style='border:0; font-family:Georgia, "Times New Roman", serif; font-size:12px; font-style:italic; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; color:#777; display:block; padding-top:3px' valign="baseline">{{jobPosition2}}</em></p>
                        <ul class="info" style="border:0; font-family:inherit; font-size:100%; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; float:right; list-style-type:none; margin-left:40px; width:500px" valign="baseline" width="500">
                            <li style="border:0; font-family:inherit; font-size:100%; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; background-image:url(../images/bullet.gif); background-position:0 0.5em; background-repeat:no-repeat; display:block; float:left; margin-top:12px; padding-left:10px; width:500px" valign="baseline" width="500">{{description2}}</li>
                        </ul>
                    </div>
                    <div class="content" style="border:0; font-family:inherit; font-size:100%; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; clear:both; display:block; overflow:hidden; padding-top:32px" valign="baseline">
                        <h3 style="border:0; font-family:inherit; font-size:13px; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; clear:both; color:#7b90b5; float:left; text-align:right; width:180px" valign="baseline" align="right" width="180">{{startDate3}} - {{endDate3}}</h3>
                        <p style="border:0; font-family:inherit; font-size:100%; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; float:right; margin-left:40px; width:500px" valign="baseline" width="500">{{companyName3}}<br>
                            <em style='border:0; font-family:Georgia, "Times New Roman", serif; font-size:12px; font-style:italic; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; color:#777; display:block; padding-top:3px' valign="baseline">{{jobPosition3}}</em></p>
                        <ul class="info" style="border:0; font-family:inherit; font-size:100%; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; float:right; list-style-type:none; margin-left:40px; width:500px" valign="baseline" width="500">
                            <li style="border:0; font-family:inherit; font-size:100%; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; background-image:url(../images/bullet.gif); background-position:0 0.5em; background-repeat:no-repeat; display:block; float:left; margin-top:12px; padding-left:10px; width:500px" valign="baseline" width="500">{{description3}}</li>
                        </ul>
                    </div>

                </div>
                <!-- End 3rd Row -->
                <!-- Begin 4th Row -->
                <div class="entry" style="border:0; font-family:inherit; font-size:100%; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; clear:both; display:block; margin-left:4px; padding-top:55px; width:720px" valign="baseline" width="720">
                    <h2 style="border:0; font-family:inherit; font-size:22px; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; clear:both; color:#1b4491; float:left; height:23px; margin-bottom:-12px; text-align:right; width:180px" valign="baseline" height="23" align="right" width="180">SKILLS</h2>
                    <div class="content" style="border:0; font-family:inherit; font-size:100%; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; clear:both; display:block; overflow:hidden; padding-top:32px" valign="baseline">
                        <h3 style="border:0; font-family:inherit; font-size:13px; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; clear:both; color:#7b90b5; float:left; text-align:right; width:180px" valign="baseline" align="right" width="180">General</h3>
                        <ul class="skills" style="border:0; font-family:inherit; font-size:100%; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; float:right; list-style-type:none; margin-left:40px; margin-top:-6px; width:500px" valign="baseline" width="500">
                            <li style="border:0; font-family:inherit; font-size:100%; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; background-image:url(../images/bullet.gif); background-position:0 0.5em; background-repeat:no-repeat; float:left; margin-top:6px; padding-left:10px; width:156px" valign="baseline" width="156">{{skill1}}</li>
                            <li style="border:0; font-family:inherit; font-size:100%; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; background-image:url(../images/bullet.gif); background-position:0 0.5em; background-repeat:no-repeat; float:left; margin-top:6px; padding-left:10px; width:156px" valign="baseline" width="156">{{skill2}}</li>
                            <li style="border:0; font-family:inherit; font-size:100%; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; background-image:url(../images/bullet.gif); background-position:0 0.5em; background-repeat:no-repeat; float:left; margin-top:6px; padding-left:10px; width:156px" valign="baseline" width="156">{{skill3}}</li>
                        </ul>
                    </div>
                    <div class="content" style="border:0; font-family:inherit; font-size:100%; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; clear:both; display:block; overflow:hidden; padding-top:32px" valign="baseline">
                        <h3 style="border:0; font-family:inherit; font-size:13px; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; clear:both; color:#7b90b5; float:left; text-align:right; width:180px" valign="baseline" align="right" width="180">Languages</h3>
                        <ul class="skills" style="border:0; font-family:inherit; font-size:100%; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; float:right; list-style-type:none; margin-left:40px; margin-top:-6px; width:500px" valign="baseline" width="500">
                            <li style="border:0; font-family:inherit; font-size:100%; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; background-image:url(../images/bullet.gif); background-position:0 0.5em; background-repeat:no-repeat; float:left; margin-top:6px; padding-left:10px; width:156px" valign="baseline" width="156">{{language1}}</li>
                            <li style="border:0; font-family:inherit; font-size:100%; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; background-image:url(../images/bullet.gif); background-position:0 0.5em; background-repeat:no-repeat; float:left; margin-top:6px; padding-left:10px; width:156px" valign="baseline" width="156">{{language2}}</li>
                        </ul>
                    </div>
                </div>
                <!-- End 4th Row -->
                <!-- Begin 5th Row -->

                <!-- End Paper -->
            </div>
            <div class="wrapper-bottom" style="border:0; font-family:inherit; font-size:100%; font-style:inherit; font-weight:inherit; margin:0 auto; outline:0; padding:0; vertical-align:baseline; background-image:url(../images/bbottom.jpg); background-repeat:no-repeat; height:22px; width:969px" valign="baseline" height="22" width="969"></div>
        </div>
        <div id="message" style="border:0; font-family:inherit; font-size:11px; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:5px; vertical-align:baseline; -moz-border-radius:3px; -webkit-border-radius:3px; background-color:#080626; display:none; height:20px; line-height:20px; margin-right:10px; margin-top:-40px; opacity:0.8; position:fixed; right:0%; text-align:center; top:100%; width:77px; z-index:999" valign="baseline" bgcolor="#080626" height="20" align="center" width="77"><a href="#top" id="top-link" style="border:0; font-family:inherit; font-size:100%; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; color:#fff; text-decoration:none" valign="baseline">Go to Top</a></div>
        <!-- End Wrapper -->

    </div>
</div>
</body>
</html>